@charset "UTF-8";

:root { --floor-margin: 19%;
}

#clock {
	margin-bottom: 1.2%;
	width: 7.7vw;
}

#cork-board {
	height: 648.5vh;
	background-image: url("../images/board/cork-board-middle.jpg");
	background-size: 76.6vw 60vh;
}

.row {
	width: 90%;
	margin-bottom: 5.6%;
}

.row, #worker-overlay {
	height: 34.5vh;
}

.board-column1, .board-column2 {
	width: 46%;
}

.floor-label, .left-worker figcaption, .middle-worker figcaption, .right-worker figcaption {
	width: 8.3em;
	background-color: white;
	color: #9C8E87;
	text-align: center;
}

.middle-worker, .right-worker {
	margin-left: 4%;
}

figcaption {
	font-size: .83vw;
	margin-top: .7em;
}
