@charset "UTF-8";

:root { --floor-margin: 19%;
}

#clock {
	margin-bottom: 1.2%;
	width: 7.7vw;
}

#cork-board {
	height: 648.5vh;
	background-image: url("../images/board/cork-board-middle.jpg");
	background-size: 76.6vw 60vh;
}

.row {
	width: 90%;
	height: 4.92%;
	margin-bottom: 2.2%;
}

.board-floor {
	width: 46.82%;
}

.label {
	width: 8.3em;
	background-color: white;
	color: #9C8E87;
	text-align: center;
}

.floor-label {
	margin-right: auto;
	margin-left: auto;
}

.middle-worker, .right-worker {
	margin-left: 4%;
}

.cubicle img {
	width: 6.4vw;
	border-style: solid;
	border-width: .26vw;
	border-color: white;
	vertical-align: top;
}

.endurance-label {
	font-size: .83vw;
	margin-top: .7em;
}