@charset "ISO-8859-1";

body {
	margin: 13px 0px 10px 0px;
	background-color: #ffffff;
	font-family: Arial, Helvetica, sans-serif;
	color: #660000;
}

img, .below-top, table {
	margin: auto;
}

.below-top {
	width: 76.6vw;
}

.left-worker input, .left-worker input, .middle-worker input, .right-worker input {
	border-style: solid;
}

.left-worker, .middle-worker {
	float: left;
}
