@charset "ISO-8859-1";

.below-top, img, table {
	margin: auto;
}

.below-top, .tower-floor, .row, .floor-label {
	display: block;
}

.below-top {
	width: 76.6vw;
}

.left-worker input, .left-worker input, .middle-worker input, .right-worker input {
	border-style: solid;
}

.left-worker, .middle-worker, .right-worker {
	position: relative;
}

.left-worker, .middle-worker {
	float: left;
}

.right-worker {
	float: right;
}

@media screen and (max-width: 1500px) {
	
	.left-worker input, .middle-worker input, .right-worker input {
    	height: 18vh;
	}

}
