@charset "UTF-8";

#tower {
	height: 1350vh;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 50px;
    background-color: #729DBD;
}

.tower-floor {
  width: 77.25%;
}

.cubicle {
  width: 15%;
  height: 249px;
  border-style: solid;
  border-width: 10px;
  border-color: #D7D7D7;
  background-color: #B6E6F5;
  /*  
    Cubicle width = 15% * 3 = 45
    Margin width = 100 - 45 = 55
  */
  margin-left: 11%;
  background-repeat: no-repeat;
  background-size: 6.8vh 13.6vh;
  background-position: bottom center;
}

.santa {
	background-size: 7.5vh 16.4vh;
}
