@charset "UTF-8";

#tower, .tower-floor div {
	box-sizing: border-box;
}

#tower {
	height: 1350vh;
    margin-right: auto;
    margin-left: auto;
    border-width: 50px;
    background-color: #729DBD;
}

.tower-floor {
  width: 80%;
  height: 1.98%;
  margin-top: 4.8%;
}

.tower-floor div {
  width: 25%;
  height: 249px;
  border-width: 10px;
  background-color: #B6E6F5;
  background-repeat: no-repeat;
  background-size: 6.8vh 13.6vh;
  background-position: bottom center;
}

#tower, .tower-floor div {
	border-color: #E2B452;
}

.middle-worker {
	margin-left: 12.5%;
}

.santa {
	background-size: 7.5vh 16.4vh;
}
