@charset "UTF-8";

#tower, .tower-floor div {
	box-sizing: border-box;
}

#tower {
	height: 1350vh;
    margin-right: auto;
    margin-left: auto;
    border-style: solid;
    border-width: 50px;
    background-color: #729DBD;
}

.tower-floor {
  width: 53.38%;
}

.tower-floor div {
  width: 22%;
  height: 249px;
  border-style: solid;
  border-width: 10px;
  border-color: #D7D7D7;
  background-color: #B6E6F5;
  background-repeat: no-repeat;
  background-size: 6.8vh 13.6vh;
  background-position: bottom center;
}


.left-cubicle, .middle-cubicle {
	float: left;
}

.middle-cubicle {
	margin-left: 17%;
}

.right-cubicle {
	float: right;
}
.santa {
	background-size: 7.5vh 16.4vh;
}
