<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:ctx="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-2.5.xsd ">
	
<bean id="SqlBean" class="raudain.doa.DatabaseQuerysBean">
	
	<property
		name="lastRoom"
		value="SELECT Max(Room) AS LastRoom
	           FROM dbo.Worker;">
	</property>
	
	<property
		name="workerListByRoom1"
		value="SELECT Room
			   ,      Name
			   ,      ProfessionName
			   ,      EnduranceName
			   ,      Cost
			   FROM dbo.`View Worker List By Room`
			   LIMIT 26;">
	</property>
	
	<property
		name="workerListByRoom2"
		value="SELECT Room
			   ,      Name
			   ,      ProfessionName
			   ,      EnduranceName
			   ,      Cost
			   FROM dbo.`View Worker List By Room`
			   WHERE Room BETWEEN 4203 AND 5101;">
	</property>
	
	<property
		name="workerListByRoom3"
		value="SELECT Room
			   ,      Name
			   ,      ProfessionName
			   ,      EnduranceName
			   ,      Cost
			   FROM dbo.`View Worker List By Room`
			   WHERE Room BETWEEN 3401 AND 4202;">
	</property>
	
	<property
		name="workerListByRoom4"
		value="SELECT Room
			   ,      Name
			   ,      ProfessionName
			   ,      EnduranceName
			   ,      Cost
			   FROM dbo.`View Worker List By Room`
			   WHERE Room BETWEEN 2502 AND 3303;">
	</property>
	
	<property
		name="workerListByRoom5"
		value="SELECT Room
			   ,      Name
			   ,      ProfessionName
			   ,      EnduranceName
			   ,      Cost
			   FROM dbo.`View Worker List By Room`
			   WHERE Room BETWEEN 1603 AND 2501;">
	</property>
	
	<property
		name="workerListByRoom6"
		value="SELECT Room
			   ,      Name
			   ,      ProfessionName
			   ,      EnduranceName
			   ,      Cost
			   FROM dbo.`View Worker List By Room`
			   WHERE Room BETWEEN 801 AND 1602;">
	</property>
	
	<property
		name="workerListByRoom7"
		value="SELECT Room
			   ,      Name
			   ,      ProfessionName
			   ,      EnduranceName
			   ,      Cost
			   FROM dbo.`View Worker List By Room`
			   WHERE Room BETWEEN 101 AND 703;">
	</property>
	
	<property
		name="workerListByCost"
		value="SELECT Room
			   ,      Name
			   ,      ProfessionName
			   ,      EnduranceName
			   ,      Cost
			   FROM dbo.`View Worker List By Cost`
			   LIMIT 26;">
	</property>
	
	
	<property
		name="insert"
		value="INSERT INTO dbo.Worker
			   (
			   		Room
			   ,	Name
			   ,	Profession
			   ,	Endurance
			   ,	Cost
			   )
			   VALUES (?, ?, ?, ?, ?);">
	</property>
	
	
	<property
		name="updateWorker"
		value="UPDATE dbo.Worker
			   SET name = ?
			   ,   profession = ?
			   ,   endurance = ?
			   ,   cost = ?
			   WHERE (room = ?);">
	</property>   
	
</bean>

</beans>
