.floor * {
	position: absolute;
}

.floor-label {
	width: 110.88px;
	height: 34.1px;
	background-color: white;
}

.floor-number {
	color: #CDBB8A;
}

.floor img {
	width: 136px;
	border-style: solid;
	border-width: 5px;
	border-color: white;
}

#floor1 img {
	top: 97px;
}
