.floor {
  position: absolute;
}

.odd-row {
  left: 387px;
}

.row1 {
  top: 302px;
}

.row2 {
  top: 626px;
}

#floor2 {
  left: 954px;
}

.floor-label {
  width: 110.88px;
  height: 34.1px;
  background-color: white;
  color: #CDBB8A;
  padding-top: 5px;
  padding-left: 18px;
  margin-right: auto;
  margin-left: auto;
}

.employee {
	float: left;
	margin-top: 15px;
}

.middle-worker, .right-worker {
	margin-left: 15px;
}

.floor img {
  width: 118px;
  border-style: solid;
  border-width: 5px;
  border-color: white;
}

.endurance-label {
  width: 114px;
  background-color: white;
  font-size: 16px;
  color: #CDBB8A;
  padding-left: 26px;
  margin-top: 11px;
}

h3 {
  margin-top: 7px;
  margin-left: 28px;
}
