@charset "UTF-8";

.board-floor {
  width: 22.91%;
}

.colum1 {
  left: 22.8%;
}

.colum2 {
	right: 22.8%;
}

.row1 {
  top: 32.8%;
}

.row2 {
  top: 67.5%;
}

.row3 {
  top: 102.2%;
}

.row4 {
  top: 136.8%;
}

.row5 {
  top: 171.4%;
}

.row6 {
  top: 206%;
}

.row7 {
  top: 240.6%;
}

.row8 {
  top: 275.2%;
}

.row9 {
  top: 309.8%;
}

.row10 {
  top: 344.4%;
}

.row11 {
  top: 379%;
}

.row12 {
  top: 413.6%;
}

.row13 {
  top: 448.2%;
}

.row14 {
  top: 482.8%;
}

.row15 {
  top: 517.4%;
}

.row16 {
  top: 552%;
}

.row17 {
  top: 586.6%;
}

.row18 {
  top: 621.2%;
}

.row19 {
  top: 655.8%;
}

.label {
  width: 8.3em;
  background-color: white;
  color: #CDBB8A;
  text-align: center;
}

.floor-label {
  margin-right: auto;
  margin-left: auto;
}

.middle-worker, .right-worker {
	margin-left: 4%;
}

.cubicle img {
  width: 6.4vw;
  border-style: solid;
  border-width: .26vw;
  border-color: white;
  vertical-align: top;
}

.endurance-label {
  font-size: .83vw;
  margin-top: .7em;
}
