body {
  margin: 0px;
  background-color: rgba(212, 236, 247, 1);
}

header {
	background-color: #FFFFFF;
}

.text {
	font-family: Arial Black;
    font-size: 1vw;
}

.top {
	padding-left: 2.1%;
	float: left;
}

.top-right {
	margin-top: 1.4%;
}

.banner-search {
    position: absolute;
}

#title {
	font-size: 1.45vw;
	padding-right: .7em;
	border-right-width: thick;
	border-right-style: solid;
	border-right-color: #111;
}

#link {
	color: #111;
	text-decoration: none;
}

#search-box {
	padding-left: 0px;
	right: 4.2%;
	width: 10.5%;
}

#magnifying-glass {
	right: 2.2%;
	border: 0px;
	width: 1.8%;
}
