body {
  margin: 0px;
  background-color: rgba(212, 236, 247, 1);
}

header {
	background-color: #FFFFFF;
}
.BannerSearch {
    margin-right: 40px;
    margin-top: 30px;
    position: absolute;
    top: 10px;
}


