@charset "UTF-8";

body {
  margin: 0px;
  background-color: rgba(212, 236, 247, 1);
}

header {
	background-color: #FFFFFF;
}

.text {
	font-family: Arial Black;
    font-size: 1vw;
}

.top {
	margin-top: 1.4%;
	padding-left: 2.1%;
	float: left;
}

.header-search {
    position: absolute;
    margin-top: 1.2%;
}

#title {
	margin-top: 1.06%;
	font-size: 1.45vw;
	padding-right: .7em;
	border-right-width: thick;
	border-right-style: solid;
	border-right-color: #111;
}

.link {
	color: #111;
	text-decoration: none;
}

#search-box {
	padding-left: 0px;
	right: 4.2%;
	width: 10.5%;
}

#magnifying-glass {
	right: 2.2%;
	border: 0px;
	width: 1.8%;
}

.center-image {
    display: block;
    margin-right: auto;
    margin-left: auto;
}

.main {
  width: 76.6vw;
}

.top-image {
	margin-top: .8%;
	margin-bottom: .8%;
}

.floor {
  position: absolute;
}

.row1 {
  top: 32.8%;
}

.row2 {
  top: 67.5%;
}

.row3 {
  top: 102.2%;
}

.row4 {
  top: 136.8%;
}

.row5 {
  top: 171.4%;
}

.row6 {
  top: 206%;
}

.row7 {
  top: 240.6%;
}

.row8 {
  top: 275.2%;
}

.row9 {
  top: 309.8%;
}

.row10 {
  top: 344.4%;
}

.row11 {
  top: 379%;
}

.row12 {
  top: 413.6%;
}

.row13 {
  top: 448.2%;
}

.row14 {
  top: 482.8%;
}

.row15 {
  top: 517.4%;
}

.row16 {
  top: 552%;
}

.row17 {
  top: 586.6%;
}

.row18 {
  top: 621.2%;
}

.row19 {
  top: 655.8%;
}

.row20 {
  top: 690.4%;
}

.row21 {
  top: 725%;
}

.row22 {
  top: 759.6%;
}

.row23 {
  top: 794.2%;
}

.row24 {
  top: 828.8%;
}

.row25 {
  top: 863.4%;
}

.row26 {
  top: 898%;
}

.row27 {
  top: 932.6%;
}

.row28 {
  top: 967.2%;
}

.row29 {
  top: 1001.8%;
}

.row30 {
  top: 1036.4%;
}

.row31 {
  top: 1071%;
}

.row32 {
  top: 1105.6%;
}

.row33 {
  top: 1140.2%;
}

.row34 {
  top: 1174.8%;
}

.row35 {
  top: 1209.4%;
}

.row36 {
  top: 1244%;
}

.row37 {
  top: 1278.6%;
}

.cubicle {
    float: left;
    margin-top: 3.8%;
}
