@charset "UTF-8";

.tower-floor {
  width: 77.25%;
}

.cubicle {
  width: 15%;
  height: 249px;
  background-color: #B6E6F5;
  margin-left: 13.75%;
  background-repeat: no-repeat;
  background-size: 6.8vh 13.6vh;
  background-position: bottom center;
}

.cubicle img {
  margin-top: 124px;
  width: 3.25vw;
}

.santa {
	background-size: 7.5vh 16.4vh;
}
