.row {
  height: 144px;
}

.room {
  margin-top: 124px;
  margin-left: 95px;
  border: 0px;
  height: 200px;
  width: 200px;

  background-color: rgba(174, 223, 240, 1);
  float: left;
}

.room img {
  margin-top: 70px;
  margin-left: 60px;
  height: 130px;
  width: 65px;
}


h1, h2 {
  font-family: Roboto, Segoe UI, Arial, "Times New Roman";
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

h1 {
  padding-top: 10px;
  font-size: 20px;
}

h2 {
  padding-top: 50px;
  font-size: 16px;
}
