body, header {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  text-decoration: none;
  line-height: 1;
}

.BannerSearch {
    margin-right: 40px;
    margin-top: 30px;
    position: absolute;
    top: 10px;
}

.column {
  margin-top: 70px;
  margin-left: 72px;
  border: 2px;
  border-style: solid;
  border-color: rgba(215, 223, 227, 1);
  width: 200px;
  height: 200px;
  background-color: rgba(174, 223, 240, 1);
  float: left;
}

.row {
  height: 144px;
}
h1, h2 {
  font-family: Roboto, Segoe UI, Arial, "Times New Roman";
  text-align: center;
  color: rgba(0, 0, 0, 1);
}

h1 {
  padding-top: 10px;
  font-size: 20px;
}

h2 {
  padding-top: 50px;
  font-size: 16px;
}

.two-lines h1 {
  padding-top: 0px;
}

.two-lines h2 {
  padding-top: 33px;
}
